构建一个逻辑回归模型预测一个学生是否会被大学录取。根据申请人两次考试的成绩来判断他们被录取的可能性。你有可以用作逻辑回归训练集的以前申请者的历史数据。每个训练样本都包含历史申请人两次考试的成绩和最终的录取结果。

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

1.1 可视化数据

In [4]:
data = pd.read_csv('data/ex2data1.txt', names = ['exam1', 'exam2', 'admitted'])
data.head()

       exam1      exam2  admitted
0  34.623660  78.024693         0
1  30.286711  43.894998         0
2  35.847409  72.902198         0
3  60.182599  86.308552         1
4  79.032736  75.344376         1